{% extends "base.html" %}
{% load static %}

{% block content %}
  <div class="container mt-5">
    <p>Hi, I'm the author of this
      cute little gaming site.
      My name is Bohdan,
      I'm 23 years old, and I'm a beginner Python developer.
      If you liked it and want to
      invite me to job, write to me by email.
      Thanks for stopping by, have a nice day!</p>
    <div class="my-3">
      <a href="#" id="copyEmail">bogdan.zinchenko.2019@gmail.com</a> | <a href="https://github.com/BornToLivee">My GitHub account</a>
      <p id="copyInfo" style="font-size: 0.8rem; color: #666; display: none;">Click to copy email</p>
    </div>
    <div id="copyNotification" class="alert alert-success mt-3" style="display: none;" role="alert">
      Email copied to clipboard: <span id="copiedEmail"></span>
    </div>
  </div>
  <script src="{% static "js/copy_on_click.js" %}"></script>
{% endblock %}
