{% extends "base.html" %}
{% load static %}

{% block title %}
  <title>{{ game.title }} - Детали игры</title>
{% endblock %}

{% block content %}
  <div class="container mt-5">
    <h1>{{ game.title }}</h1>
    <img src="{{ game.image.url }}" alt="{{ game.title }}" class="img-fluid" style="max-width: 300px; height: auto;">
    <p>Жанр: {{ game.genre.name }}, Год выпуска: {{ game.release_year }}</p>
    <p>{{ game.description }}</p>

    <div>
      <h4>Средний рейтинг пользователей:</h4>
      <div id="average-rating">
        {% for i in range %}
          {% if i < average_rating %}
            <i class="fas fa-star"></i>
          {% else %}
            <i class="far fa-star"></i>
          {% endif %}
        {% endfor %}
      </div>
    </div>

    {% if user.is_authenticated %}
      <div>
        <h4>Ваша оценка:</h4>
        <div id="user-rating" data-score="{{ user_rating.score|default:0 }}">
          {% for i in range %}
            {% if i < user_rating.score %}
              <i class="fas fa-star" data-value="{{ i|add:1 }}"></i>
            {% else %}
              <i class="far fa-star" data-value="{{ i|add:1 }}"></i>
            {% endif %}
          {% endfor %}
        </div>
      </div>
      <form method="post" id="rating-form">
        {% csrf_token %}
        <input type="hidden" name="score" id="rating-score">
        <button type="submit" class="btn btn-primary mt-3">Отправить оценку</button>
      </form>
    {% else %}
      <p>Чтобы оценить эту игру, вам необходимо войти в систему.</p>
    {% endif %}
  </div>
  <script src="{% static 'js/rating.js' %}"></script>
{% endblock %}
