<!-- templates/game_detail.html -->
{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <h1>{{ game.title }}</h1>
    <img src="{{ game.image.url }}" alt="{{ game.title }}" width="300" height="150">
    <p>Genre: {{ game.genre.name }}, Release year: {{ game.release_year }}</p>
    <p>{{ game.description }}</p>
    <form method="post" action="{% url 'game:update-wishlist-status' game.id %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary">
            {% if game in user.wishlist_games.all %}
                Remove from wishlist
            {% else %}
                Add to wishlist
            {% endif %}
        </button>
    </form>
    <form method="post" action="{% url 'game:update-completed-status' game.id %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-success">
            {% if game in user.completed_games.all %}
                Remove from completed
            {% else %}
                Add to completed
            {% endif %}
        </button>
    </form>
</div>
{% endblock %}
