{% extends "base.html" %}

{% block content %}
  <h1>{{ object.name }}</h1>
  <p>{{ object.description }}</p>

  <h2>Games in this genre:</h2>
  <ul>
    {% for game in games %}
      <li>
        <a href="{% url 'game:game-detail' pk=game.pk %}">{{ game.title }}</a>
      </li>
    {% endfor %}
  </ul>
  <a href="{% url 'game:genre-update' pk=genre.id %}" class="btn btn-warning btn-block btn-animated">Update information about genre</a>
  <a href="{% url 'game:genre-delete' pk=genre.id %}" class="btn btn-warning btn-block btn-animated">Delete genre</a>
{% endblock %}