{% extends "base.html" %}

{% block content %}

<h1>Your personal game hub</h1>
<p>Welcome to Hub!</p>
<p>The Hub service has the following record counts:</p>
<ul>
  <li><strong>Players:</strong> {{ num_players }}</li>
  <li><strong>Games:</strong> {{ num_games }}</li>
  <li><strong>Genres:</strong> {{ num_genres }}</li>
  <li><strong>Publishers:</strong> {{ num_publishers }}</li>
</ul>

<p>You have visited this page
  {{ num_visits }} time{{ num_visits|pluralize }}.
</p>

{% endblock %}