
    {#    <a href="{% url 'taxi:car-create' %}" class="btn btn-primary link-to-page">#}
    {#      Create#}
    {#    </a>#}
    {#  </h1>#}
    {#    <form action="" method="get" class="form-inline">#}
    {#    {{ search_form|crispy }}#}
    {#    <input type="submit" value="➔" class="btn btn-info">#}
    {#  </form>#}
{% extends "base.html" %}

{% block content %}
  <h1>Publishers</h1>
  <ul>
    {% for publisher in publisher_list %}
      <li>
        <h2>{{ publisher.name }}</h2>
        {% if publisher.image %}
          <img src="{{ publisher.image.url }}" alt="{{ publisher.name }} Image" width="100" height="100">
        {% else %}
          <p>No image available</p>
        {% endif %}
        <p>{{ publisher.description }}</p>
      </li>
    {% endfor %}
  </ul>
{% endblock %}