<ul class="sidebar-nav list-group">
  {% if user.is_authenticated %}
    <li class="list-group-item">
      <p>User: <strong>{{ user.username }}</strong></p>
      <form method="post" action="{% url 'logout' %}" class="d-inline">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary btn-sm">Logout</button>
      </form>
    </li>
  {% else %}
    <li class="list-group-item text-center">
      <span>
        <a href="{% url 'login' %}" class="btn btn-secondary btn-sm mr-2">Log in</a>
        <a href="{% url 'game:register' %}" class="btn btn-primary btn-sm">Sign up</a>
      </span>
    </li>
  {% endif %}

  <li class="list-group-item"><a href="{% url 'game:personal-page' %}" class="text-decoration-none"><i class="fas fa-user"></i> Personal page</a></li>
  <li class="list-group-item"><a href="{% url 'game:game-list' %}" class="text-decoration-none"><i class="fas fa-gamepad"></i> All games</a></li>
  <li class="list-group-item"><a href="{% url 'game:genre-list' %}" class="text-decoration-none"><i class="fas fa-list"></i> All genres</a></li>
  <li class="list-group-item"><a href="{% url 'game:publisher-list' %}" class="text-decoration-none"><i class="fas fa-building"></i> All publishers</a></li>
  <li class="list-group-item"><a href="{% url 'game:random-game' %}" class="text-decoration-none"><i class="fas fa-dice"></i> Choose random game!</a></li>
</ul>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
